body {
	font-size: 18px;
	background-color: white;
}

.theme-color {
	color: #38BEFF;
}

hr.inner {
	border-color: grey;
}

img {
	width: 100%;
}

#todo-list,
#completed-list {
	list-style-type: none;
	background: #F8F8F8 ;
	padding: 20px;
}

.date {
	float: right;
}

.notes {
	padding-right: 25px;
}

.col-xs-8,
.col-xs-2,
.col-xs-11,
.col-xs-1{
	padding: 0px;
	margin: 0;
	border: 0;
}

.notes-field{
	padding-right: 5%;
}

	.separate {
		padding: 25px;
	}

.btn-submit,
.btn-submit:hover {
	float: right;
	background-color: #38BEFF;
	border-color: #38BEFF;
	color: black;
}

#task-desc {
	float: left;
}

.due-this-week {
	color: orange;
}

.due-soon {
	color: red;
}

.due-clear {
	color: green;
}

/*Style when completed*/
.completed {
	color: green;
}